h3{
    text-align: right;
    font-size:30px;
    font-style:normal;


}

.button-container {
    text-align: center;
  }
  
.cent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
input{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}
form{
    text-align: center;

}